{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
{% load static %}

<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="bg-img-hero text-center mb-1" style="background-image: url({% static 'img/1920x400/img3.jpg' %});">
    <div class="container space-top-xl-3 py-6 py-xl-0">
      <div class="row justify-content-center py-xl-4">
        <!-- Info -->
        <div class="py-xl-10 py-5">
          <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">About Us</h1>
        </div>
        <!-- End Info -->
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <!-- Slider -->
  <div class="slider border-bottom border-color-3">
    <div class="container space-1">
      <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mt-3">
        <h2 class="section-title text-black font-size-xs-28 font-weight-bold mb-0">We’re truely dedicated to make your travel experience as much simple and fun as possible!</h2>
      </div>
      <section class="w-lg-80 mx-auto mb-4">
        <div class="row">
          <div class="col-md-6">
            <h2 class="font-size-21 font-weight-bold text-center text-md-left ">Our Story</h2>
            <p class="text-gray-1">Bringing you a modern, comfortable, and connected travel experience is one of our highest priorities and that’s why we continuously try to improve your experience when you book anything with us.</p>
          </div><!-- /.col -->

          <div class="col-md-6">
            <h2 class="font-size-21 font-weight-bold text-center text-md-left ">Our mission</h2>
            <p class="text-gray-1">We really appreciate and welcome any of suggstions you might have for us, so feel free drop us line anytime.Air conditioning, heating, desk, alarm clock, iPod docking station can be found in selected guestrooms.</p>
          </div><!-- /.col -->

        </div><!-- ./row -->
      </section>
      <div class="js-slick-carousel u-slick pb-2"
           data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
           data-arrow-left-classes="flaticon-back u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-9"
           data-arrow-right-classes="flaticon-next u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-9"
           data-pagi-classes="text-center u-slick__pagination mt-5">
        <div class="js-slide bg-img-hero-center rounded-xs" style="background-image: url({% static 'img/slider/img1.jpg' %});">
          <div class="space-5">
          </div>
        </div>
        <div class="js-slide bg-img-hero-center rounded-xs" style="background-image: url({% static 'img/slider/img2.jpg' %});">
          <div class="space-5">
          </div>
        </div>
        <div class="js-slide bg-img-hero-center rounded-xs" style="background-image: url({% static 'img/slider/img3.jpg' %});">
          <div class="space-5">
          </div>
        </div>
        <div class="js-slide bg-img-hero-center rounded-xs" style="background-image: url({% static 'img/slider/img4.jpg' %});">
          <div class="space-5">
          </div>
        </div>
        <div class="js-slide bg-img-hero-center rounded-xs" style="background-image: url({% static 'img/slider/img4.jpg' %});">
          <div class="space-5">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider -->
  <!-- Features Section -->
  <div class="container text-center space-1">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto pb-1">
      <h2 class="section-title text-black font-size-30 font-weight-bold">Why Choose</h2>
    </div>
    <!-- End Title -->
    <!-- Features -->
    <div class="mb-8">
      <div class="row">
        <!-- Icon Block -->
        <div class="col-md-4">
          <i class="flaticon-price text-primary font-size-80 mb-3"></i>
          <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Competitive Pricing</a></h5>
          <p class="text-gray-1 px-xl-2 px-uw-7">With 500+ suppliers and the purchasing power of 300 million members, mytravel.com can save you more!</p>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-md-4">
          <i class="flaticon-medal text-primary font-size-80 mb-3"></i>
          <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Award-Winning Service</a></h5>
          <p class="text-gray-1 px-xl-2 px-uw-7">Travel worry-free knowing that we're here if you needus, 24 hours a day</p>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-md-4">
          <i class="flaticon-global-1 text-primary font-size-80 mb-3"></i>
          <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">Worldwide Coverage</a></h5>
          <p class="text-gray-1 px-xl-2 px-uw-7">Over 1,200,000 hotels in more than 200 countries and regions & flights to over 5,000 cities</p>
        </div>
        <!-- End Icon Block -->
      </div>
    </div>
    <!-- End Features -->
  </div>
  <!-- End Features Section -->
  <!--Banner-->
  <div class="gradient-overlay-half-bg-grayish-blue bg-img-hero space-3 space-top-lg-4 space-bottom-lg-3" style="background-image: url({% static 'img/1920x500/img5.jpg' %});">
    <div class="text-center mt-xl-2">
      <h5 class="text-white font-size-41 font-weight-bold mb-2">Travelling Highlights</h5>
      <h6 class="text-white font-size-21 font-weight-bold mb-3 mb-lg-5 opacity-7">Your New Travelling Idea</h6>
      <!-- Fancybox -->
      <a class="js-fancybox d-inline-block u-media-player" href="javascript:;"
         data-src="//vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="MyTravel - Responsive Website Template">
                        <span class="u-media-player__icon u-media-player__icon--lg bg-transparent text-white">
                            <span class="flaticon-multimedia font-size-60 u-media-player__icon-inner"></span>
                        </span>
      </a>
      <!-- End Fancybox -->
    </div>
  </div>
  <!--End Banner-->
  <!-- Testimonials Section -->
  <div class="container">
    <div class="pt-7 pb-8">
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5">
        <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">Customer Reviews</h2>
      </div>
      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3" data-infinite="true" data-autoplay="true" data-speed="3000" data-fade="true"
           data-pagi-classes="text-center u-slick__pagination mb-0 mt-4"
           data-responsive='[{
                        "breakpoint": 992,
                           "settings": {
                             "slidesToShow": 1
                           }
                        }]'>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img1.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Jessica Brown</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img2.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Augusta Silva</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img3.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Ali Tufan</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img1.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Jessica Brown</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img3.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Ali Tufan</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide">
          <!-- Testimonials -->
          <div class="d-flex justify-content-center mb-6">
            <div class="position-relative">
              <img class="img-fluid mx-auto" src="{% static 'img/137x137/img2.jpg' %}" alt="Image-Descrition">
            </div>
          </div>
          <div class="text-center">
            <p class="text-gray-1 font-italic text-lh-inherit px-xl-20 mx-xl-15 px-xl-20 mx-xl-18">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize</p>
            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Augusta Silva</h6>
            <span class="text-blue-lighter-1 font-size-normal">client</span>
          </div>
          <!-- End Testimonials -->
        </div>
      </div>
      <!-- End Slick Carousel -->
    </div>
  </div>
  <!-- End Testimonials Section -->
  <!-- Features Section -->
  <div class="gradient-overlay-half-bg-blue bg-img-hero" style="background-image: url({% static 'img/1920x450/img1.png' %});">
    <div class="container text-center space-1">
      <!-- Features -->
      <div class="row">
        <!-- Icon Block -->
        <div class="col-md-3">
          <i class="flaticon-node text-white font-size-80 mb-3"></i>
          <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">5340</h5>
          <p class="text-white px-xl-2 text-lh-inherit px-uw-3">Total Length of Boats Sold Since 2009</p>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-md-3">
          <i class="flaticon-cardinal-points text-white font-size-80 mb-3"></i>
          <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">19</h5>
          <p class="text-white px-xl-2 text-lh-inherit px-uw-3">Locations with Easy Access off the Deep Water Channel</p>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-md-3">
          <i class="flaticon-anchor text-white font-size-80 mb-3"></i>
          <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">18000</h5>
          <p class="text-white px-xl-2 text-lh-inherit px-uw-3">sq. ft. Showroom loaded with New & Used Boats</p>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="col-md-3">
          <i class="flaticon-star text-white font-size-80 mb-3"></i>
          <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">30</h5>
          <p class="text-white px-xl-2 text-lh-inherit px-uw-3">Number of Licensed Yachting Professionals</p>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Features -->
    </div>
  </div>
  <!-- End Features Section -->
  <!-- Team -->
  <div class="team border-bottom border-color-3">
    <div class="container space-top-1">
      <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mt-3">
        <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">Deticated Team</h2>
      </div>
      <div class="row text-center pb-2">
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img1.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">David Robets</h6>
          <span class="text-blue-lighter-1 font-size-normal">Founder & Director</span>
        </div>
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img2.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Augusta Silva </h6>
          <span class="text-blue-lighter-1 font-size-normal">Chief Operating Officer</span>
        </div>
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img3.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Bernice Lucas</h6>
          <span class="text-blue-lighter-1 font-size-normal">Dairector - Hotels</span>
        </div>
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img4.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Jessica Brown</h6>
          <span class="text-blue-lighter-1 font-size-normal">Chief Executive</span>
        </div>
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img5.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">David Jackson</h6>
          <span class="text-blue-lighter-1 font-size-normal">Founder & CEO</span>
        </div>
        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
          <div class="pb-3">
            <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
              <div class="u-avatar-image-overlay">
                <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                  <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                </ul>
              </div>
              <img src="{% static 'img/200x200/img6.jpg' %}" alt="Image-Descrition">
            </figure>
          </div>
          <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">Kyle Martin</h6>
          <span class="text-blue-lighter-1 font-size-normal">Founder & CEO</span>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
