{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
{% load static %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="bg-img-hero text-center mb-5 mb-lg-8" style="background-image: url({% static 'img/1920x400/img3.jpg' %});">
    <div class="container space-top-xl-3 py-6 py-xl-0">
      <div class="row justify-content-center py-xl-4">
        <!-- Info -->
        <div class="py-xl-10 py-5">
          <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">Contact Us</h1>
        </div>
        <!-- End Info -->
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <div class="border-bottom border-color-8 pb-6 pb-lg-4 mb-5 mb-lg-7">
    <div class="container pb-1">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
          <div class="mb-5 mb-lg-0 text-center text-md-left">
            <h6 class="text-gray-3 font-weight-bold font-size-21 text-center">Address</h6>
            <div class="d-md-flex align-items-start justify-content-center gap-5">
              <div class="name-add">
                <div class="mb-3 mb-md-4">
                  <p class="mb-1 text-gray-1">C6 Shramsafalya building Krishna sakh CHS</p>
                  <p class="mb-0 text-gray-1">Borinaka, Uran, Mahrashtra</p>
                </div>
              </div>
              <div class="details">
                <div class="mb-0">
                  <p class="mb-1 text-gray-1"><a href="tel:9930801901">+91 99308 01901</a></p>
                  <p class="mb-0 text-gray-1"><a href="mailto:vacationplacesofficial@gmail.com">vacationplacesofficial@gmail.com</a></p>
                </div>
                <a class="d-inline-block" href="#map-contact">
                  <div class="border-bottom border-primary font-weight-normal font-size-14 text-primary">View On Map</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom border-color-8 pb-6 pb-lg-9 mb-6 mb-lg-8">
    <div class="container mb-10">
      <div class="w-md-80 w-lg-50 text-center mx-md-auto my-3">
        <h2 class="section-title text-black font-size-30 font-weight-bold mb-5 pb-xl-1">Sends us a Message</h2>
      </div>
      <div class="comment-section max-width-810 mx-auto">
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-5">
              <div class="js-form-message">
                <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Jack Wayley" required="" data-error-class="u-has-error" data-msg="Please enter your name." data-success-class="u-has-success" required>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-5">
              <div class="js-form-message">
                <input type="email" class="form-control" name="email" placeholder="Email" aria-label="jackwayley@gmail.com" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success" required>
              </div>
            </div>
            <!-- End Input -->
            <div class="col-sm-12 mb-5">
              <div class="js-form-message">
                <div class="input-group">
                  <textarea class="form-control" rows="6" cols="77" name="text" placeholder="Message" aria-label="Hi there, I would like to ..." required="" data-msg="Please enter a reason." data-error-class="u-has-error" data-success-class="u-has-success" required></textarea>
                </div>
              </div>
            </div>
            <!-- End Input -->
            <div class="col d-flex justify-content-lg-start">
              <button type="submit" class="btn rounded-xs bg-blue-dark-1 text-white height-51 width-190 transition-3d-hover">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <iframe id="map-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.0756851022284!2d72.92807837845709!3d18.88372327196415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7da478c80184b%3A0x24bcba53b9ba67f9!2sBori%2C%20Maharashtra%20400702!5e0!3m2!1sen!2sin!4v1655473521785!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}
